html{
background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,74,153,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,74,153,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,74,153,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,74,153,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(0,74,153,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(0,74,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#004a99', GradientType=1 );
    
    
}
p,h1,h2{
font-family: sans-serif;
    color: white;
}
         .icons {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 100px;
    height: 100px;
} 
p, img, input {
    display: inline;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
    /* iPhone 6 Portrait */ 
}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
    /* iPhone 6 landscape */
}


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
    /* iPhone 6+ Portrait */
}


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 
    /* iPhone 6+ landscape */
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){ 
    /* iPhone 6 and iPhone 6+ portrait and landscape */
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 
    /* iPhone 6 and iPhone 6+ portrait */
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){ 

    /* iPhone 6 and iPhone 6+ landscape */